[*]
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1805.severity = suggestion
dotnet_diagnostic.CA1507.severity = suggestion
dotnet_diagnostic.CA5350.severity = suggestion
dotnet_diagnostic.CA5351.severity = suggestion
dotnet_diagnostic.CA1510.severity = suggestion
dotnet_diagnostic.CA1859.severity = suggestion
dotnet_diagnostic.CA2208.severity = suggestion
dotnet_diagnostic.CA2251.severity = suggestion
dotnet_diagnostic.CA1845.severity = suggestion
dotnet_diagnostic.CA2249.severity = suggestion
dotnet_diagnostic.CA2201.severity = suggestion
dotnet_diagnostic.CA1854.severity = suggestion
dotnet_diagnostic.CA1846.severity = suggestion
dotnet_diagnostic.CA1852.severity = suggestion
dotnet_diagnostic.CA1825.severity = suggestion
dotnet_diagnostic.CA1725.severity = suggestion
dotnet_diagnostic.CA1821.severity = suggestion

dotnet_diagnostic.SYSLIB1045.severity = suggestion

# 2nd set of warnings
dotnet_diagnostic.CA1036.severity = suggestion
dotnet_diagnostic.CA1051.severity = suggestion
dotnet_diagnostic.CA1070.severity = suggestion
dotnet_diagnostic.CA2019.severity = suggestion
dotnet_diagnostic.CA1725.severity = suggestion
dotnet_diagnostic.CA2211.severity = suggestion
dotnet_diagnostic.CA2020.severity = suggestion
dotnet_diagnostic.CA1838.severity = suggestion
dotnet_diagnostic.CA1825.severity = suggestion
dotnet_diagnostic.CA1310.severity = suggestion
dotnet_diagnostic.CA2219.severity = suggestion
dotnet_diagnostic.CA1513.severity = suggestion

# 3rd set of warnings
dotnet_diagnostic.CA2242.severity = suggestion
dotnet_diagnostic.CA1851.severity = suggestion
dotnet_diagnostic.CA1514.severity = suggestion
dotnet_diagnostic.CA1512.severity = suggestion
dotnet_diagnostic.CA1834.severity = suggestion
dotnet_diagnostic.CA1853.severity = suggestion
dotnet_diagnostic.CA1847.severity = suggestion
dotnet_diagnostic.CA1858.severity = suggestion
dotnet_diagnostic.CA2011.severity = suggestion

# 4th set of warnings
dotnet_diagnostic.CA3075.severity = suggestion
dotnet_diagnostic.CA1812.severity = suggestion
dotnet_diagnostic.CA1823.severity = suggestion
dotnet_diagnostic.CA1810.severity = suggestion
dotnet_diagnostic.DOC100.severity = suggestion
dotnet_diagnostic.DOC108.severity = suggestion
dotnet_diagnostic.DOC101.severity = suggestion

# Failures from CodeAnalysis.src.globalconfig
dotnet_diagnostic.SA1507.severity = suggestion
dotnet_diagnostic.SA1570.severity = suggestion
dotnet_diagnostic.SA1518.severity = suggestion
dotnet_diagnostic.SA1500.severity = suggestion
dotnet_diagnostic.SA1131.severity = suggestion
dotnet_diagnostic.SA1513.severity = suggestion
dotnet_diagnostic.SA1027.severity = suggestion
dotnet_diagnostic.SA1028.severity = suggestion
dotnet_diagnostic.SA1508.severity = suggestion
dotnet_diagnostic.SA1400.severity = suggestion
dotnet_diagnostic.SA1405.severity = suggestion
dotnet_diagnostic.SA1408.severity = suggestion
dotnet_diagnostic.SA1509.severity = suggestion
dotnet_diagnostic.SA1001.severity = suggestion
dotnet_diagnostic.SA1020.severity = suggestion
dotnet_diagnostic.SA1005.severity = suggestion
dotnet_diagnostic.SA1121.severity = suggestion
dotnet_diagnostic.SA1505.severity = suggestion
dotnet_diagnostic.SA1129.severity = suggestion
dotnet_diagnostic.SA1212.severity = suggestion
dotnet_diagnostic.SA1518.severity = suggestion
dotnet_diagnostic.SA1119.severity = suggestion
dotnet_diagnostic.SA1002.severity = suggestion
dotnet_diagnostic.SA1502.severity = suggestion
dotnet_diagnostic.SA1600.severity = suggestion
dotnet_diagnostic.SA1015.severity = suggestion
dotnet_diagnostic.SA1010.severity = suggestion
dotnet_diagnostic.SA1402.severity = suggestion
dotnet_diagnostic.SA1008.severity = suggestion
dotnet_diagnostic.SA1116.severity = suggestion
dotnet_diagnostic.SA1649.severity = suggestion
dotnet_diagnostic.SA1614.severity = suggestion
dotnet_diagnostic.SA1515.severity = suggestion
dotnet_diagnostic.SA1013.severity = suggestion
dotnet_diagnostic.SA1312.severity = suggestion
dotnet_diagnostic.SA1000.severity = suggestion
dotnet_diagnostic.SA1127.severity = suggestion
dotnet_diagnostic.SA1120.severity = suggestion
dotnet_diagnostic.SA1642.severity = suggestion
dotnet_diagnostic.SA1117.severity = suggestion
dotnet_diagnostic.SA1314.severity = suggestion
dotnet_diagnostic.SA1025.severity = suggestion
dotnet_diagnostic.SA1629.severity = suggestion
dotnet_diagnostic.SA1501.severity = suggestion
dotnet_diagnostic.SA1108.severity = suggestion
dotnet_diagnostic.SA1011.severity = suggestion
dotnet_diagnostic.SA1024.severity = suggestion
dotnet_diagnostic.SA1503.severity = suggestion
dotnet_diagnostic.SA1009.severity = suggestion
dotnet_diagnostic.SA1101.severity = suggestion
dotnet_diagnostic.SA1512.severity = suggestion
dotnet_diagnostic.SA1124.severity = suggestion
dotnet_diagnostic.SA1137.severity = suggestion
dotnet_diagnostic.SA1413.severity = suggestion
dotnet_diagnostic.SA1206.severity = suggestion
dotnet_diagnostic.SA1004.severity = suggestion
dotnet_diagnostic.SA1611.severity = suggestion
dotnet_diagnostic.SA1616.severity = suggestion
dotnet_diagnostic.SA1003.severity = suggestion
dotnet_diagnostic.SA1615.severity = suggestion
dotnet_diagnostic.CSIsNull001.severity = suggestion
dotnet_diagnostic.CSIsNull002.severity = suggestion

# 2nd Iteration
dotnet_diagnostic.SA1210.severity = suggestion
dotnet_diagnostic.SA1618.severity = suggestion
dotnet_diagnostic.SA1604.severity = suggestion
dotnet_diagnostic.SA1626.severity = suggestion
dotnet_diagnostic.SA1100.severity = suggestion
dotnet_diagnostic.SA1308.severity = suggestion
dotnet_diagnostic.SA1307.severity = suggestion
dotnet_diagnostic.SA1303.severity = suggestion
dotnet_diagnostic.SA1200.severity = suggestion
dotnet_diagnostic.SA1311.severity = suggestion
dotnet_diagnostic.SA1106.severity = suggestion
dotnet_diagnostic.SA1135.severity = suggestion
dotnet_diagnostic.SA1118.severity = suggestion
dotnet_diagnostic.SA1602.severity = suggestion
dotnet_diagnostic.SA1504.severity = suggestion
dotnet_diagnostic.SA1208.severity = suggestion
dotnet_diagnostic.SA1200.severity = suggestion
dotnet_diagnostic.SA1303.severity = suggestion
dotnet_diagnostic.SA1618.severity = suggestion
dotnet_diagnostic.SA1306.severity = suggestion
dotnet_diagnostic.SA1204.severity = suggestion
dotnet_diagnostic.SA1135.severity = suggestion
dotnet_diagnostic.SA1626.severity = suggestion

# 3rd Iteration
dotnet_diagnostic.SA1310.severity = suggestion
dotnet_diagnostic.SA1012.severity = suggestion
dotnet_diagnostic.SA1401.severity = suggestion
dotnet_diagnostic.SA1601.severity = suggestion
dotnet_diagnostic.SA1122.severity = suggestion
dotnet_diagnostic.SA1404.severity = suggestion
dotnet_diagnostic.SA1203.severity = suggestion
dotnet_diagnostic.SA1520.severity = suggestion
dotnet_diagnostic.SA1136.severity = suggestion
dotnet_diagnostic.SA1111.severity = suggestion
dotnet_diagnostic.SA1110.severity = suggestion
dotnet_diagnostic.SA1201.severity = suggestion
dotnet_diagnostic.SA1128.severity = suggestion
dotnet_diagnostic.SA1309.severity = suggestion
dotnet_diagnostic.SA1514.severity = suggestion
dotnet_diagnostic.SA1623.severity = suggestion
dotnet_diagnostic.SA1617.severity = suggestion
dotnet_diagnostic.SA1214.severity = suggestion
dotnet_diagnostic.SA1202.severity = suggestion
dotnet_diagnostic.SA1516.severity = suggestion
dotnet_diagnostic.SA1014.severity = suggestion
dotnet_diagnostic.SA1130.severity = suggestion
dotnet_diagnostic.SA1606.severity = suggestion
dotnet_diagnostic.CA1066.severity = suggestion
dotnet_diagnostic.CA1802.severity = suggestion

#4th Iteration
dotnet_diagnostic.CA1067.severity = suggestion
dotnet_diagnostic.CS1570.severity = suggestion
dotnet_diagnostic.SA1115.severity = suggestion
dotnet_diagnostic.SA1205.severity = suggestion
dotnet_diagnostic.SA1411.severity = suggestion
dotnet_diagnostic.SA1410.severity = suggestion
dotnet_diagnostic.CA1052.severity = suggestion
dotnet_diagnostic.CA1815.severity = suggestion
dotnet_diagnostic.CA1419.severity = suggestion
dotnet_diagnostic.CS1584.severity = suggestion

# 5th iteration
dotnet_diagnostic.CS1658.severity = suggestion
dotnet_diagnostic.CS1056.severity = suggestion
dotnet_diagnostic.CS1574.severity = suggestion
dotnet_diagnostic.CS1572.severity = suggestion
dotnet_diagnostic.CS1587.severity = suggestion
dotnet_diagnostic.CS0419.severity = suggestion
dotnet_diagnostic.SA1141.severity = suggestion
dotnet_diagnostic.SA1517.severity = suggestion
dotnet_diagnostic.CA2207.severity = suggestion
dotnet_diagnostic.SA1113.severity = suggestion
dotnet_diagnostic.DOC102.severity = suggestion
dotnet_diagnostic.DOC104.severity = suggestion
dotnet_diagnostic.DOC105.severity = suggestion
dotnet_diagnostic.CS1730.severity = suggestion
dotnet_diagnostic.CS1580.severity = suggestion
dotnet_diagnostic.CS1734.severity = suggestion

